main.main
	.container
		//- .breadcrumbs
		//- 	ul
		//- 		li
		//- 			a(href="/") Главная
		//- 		li -
		//- 		li
		//- 			span Оформление заказа
		h1.h1 Вакансии
		.subtitle Ищем профессионалов, готовых развиваться!
		.vacancy-banner Открытые вакансии
		.vacancies
			.vacancies__item
				.vacancies__name Повар
				.vacancies__desc
					.vacancies__text
						.vacancies__title ОСНОВНЫЕ ОБЯЗАННОСТИ
						p Что тебе предстоит делать: Консультировать Гостей по меню ресторана. Принимать заказы и осуществлять расчет на кассе Собирать заказ к выдаче
						.vacancies__title ТРЕБОВАНИЯ
						ul
							li Искреннюю любовь к людям и доброжелательность
							li Опыт работы в сфере обслуживания приветствуется, но не обязателен - мы всему научим
							li Инициативность и энергичность - эти качества мы ценим в наших сотрудниках
						.vacancies__title ПРЕИМУЩЕСТВА
						ul
							li Своевременные выплаты зарплаты; от 2500₽ за смену +%
							li Официальное оформление
							li Полное погружение в корейскую культуру и кухню
							li Реальная перспектива карьерного роста
							li Бесплатное питание
							li Специальные скидки для сотрудников на продукцию компании
							li Молодая и дружная команда
							li Гибкий сменный график
						a.button(href="") Отправить заявку
					.advantages
						.advantages__title ПРЕИМУЩЕСТВА РАБОТЫ У НАС
						ol.advantages__list
							li Команда единомышленников
							li Горящие глаза
							li Молодые лидеры
							li Карьерный рост
							li Постоянное развитие
			.vacancies__item
				.vacancies__name Администратор
				.vacancies__desc
					.vacancies__text
						.vacancies__title ОСНОВНЫЕ ОБЯЗАННОСТИ
						p Что тебе предстоит делать: Консультировать Гостей по меню ресторана. Принимать заказы и осуществлять расчет на кассе Собирать заказ к выдаче
						.vacancies__title ТРЕБОВАНИЯ
						ul
							li Искреннюю любовь к людям и доброжелательность
							li Опыт работы в сфере обслуживания приветствуется, но не обязателен - мы всему научим
							li Инициативность и энергичность - эти качества мы ценим в наших сотрудниках
						.vacancies__title ПРЕИМУЩЕСТВА
						ul
							li Своевременные выплаты зарплаты; от 2500₽ за смену +%
							li Официальное оформление
							li Полное погружение в корейскую культуру и кухню
							li Реальная перспектива карьерного роста
							li Бесплатное питание
							li Специальные скидки для сотрудников на продукцию компании
							li Молодая и дружная команда
							li Гибкий сменный график
						a.button(href="") Отправить заявку
					.advantages
						.advantages__title ПРЕИМУЩЕСТВА РАБОТЫ У НАС
						ol.advantages__list
							li Команда единомышленников
							li Горящие глаза
							li Молодые лидеры
							li Карьерный рост
							li Постоянное развитие
			.vacancies__item
				.vacancies__name Продавец-кассир
				.vacancies__desc
					.vacancies__text
						.vacancies__title ОСНОВНЫЕ ОБЯЗАННОСТИ
						p Что тебе предстоит делать: Консультировать Гостей по меню ресторана. Принимать заказы и осуществлять расчет на кассе Собирать заказ к выдаче
						.vacancies__title ТРЕБОВАНИЯ
						ul
							li Искреннюю любовь к людям и доброжелательность
							li Опыт работы в сфере обслуживания приветствуется, но не обязателен - мы всему научим
							li Инициативность и энергичность - эти качества мы ценим в наших сотрудниках
						.vacancies__title ПРЕИМУЩЕСТВА
						ul
							li Своевременные выплаты зарплаты; от 2500₽ за смену +%
							li Официальное оформление
							li Полное погружение в корейскую культуру и кухню
							li Реальная перспектива карьерного роста
							li Бесплатное питание
							li Специальные скидки для сотрудников на продукцию компании
							li Молодая и дружная команда
							li Гибкий сменный график
						a.button(href="") Отправить заявку
					.advantages
						.advantages__title ПРЕИМУЩЕСТВА РАБОТЫ У НАС
						ol.advantages__list
							li Команда единомышленников
							li Горящие глаза
							li Молодые лидеры
							li Карьерный рост
							li Постоянное развитие
	.resume
		.parallax.parallax_resume
			.resume-img1 
			.resume-img2 
			.resume-img3
		.container
			.resume__inner
				.resume__left
					.resume__title Не нашли нужную вакансию?
					.resume__subtitle Оставьте заявку и наш менеджер свяжется с вами!
				.resume__right
					form.form(action="")
					.form__block
						input(type="text" value="" placeholder="ФИО")
					.form__block
						input(type="tel" value="" placeholder="Телефон")
					.form__block
						input(type="email" value="" placeholder="Email")
					.form__block
						textarea(placeholder="Сопроводительное письмо")
					.form__flex
						a.button.button_bordered(href="") Прикрепить резюме
						input.button(type="submit" value="Отправить")
