$font: "Gilroy";
$color-text: #000000;
$color-primary: #e71a61;
$color-second: #ff4646;
$color-link: #3a3839;

$color-menu-bg: #c5d86d;
$color-border: #cccccc;
$color-footer-bg: #363636;
$color-footer-text: #999999;
